@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.datos, .fotografos-locutores {
  display: flex;
  justify-content: space-around; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Bebas Neue', sans-serif; }

/*!-----CUERPO BODY----*/
.grid-contenedor {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header header header"
"main main main"
"footer footer footer";
  min-height: auto; }

header {
  background-color: #4c639a;
  grid-area: header; }

main {
  background-color: black;
  grid-area: main; }

footer {
  background-color: #1e1c1c;
  grid-area: footer; }

/*!-----NAVEGADOR----*/
.grid-contenedor a {
  color: #03b2cb;
  font-size: 20px; }

header img {
  width: 80px;
  height: 80px; }

/*!-----CARRUSEL PRINCIPAL----*/
.carousel-inner {
  padding: 20px; }

/*!-----CARRUSEL PROVINCIAS----*/
.img-1 {
  grid-row: span 2; }

.img-2 {
  grid-column: span 2; }

.img-3 {
  grid-column: span 2; }

/*!-----ANIMACION----*/
.animated-image {
  transition: transform 0.5s; }

.animated-image:hover {
  transform: scale(1.1); }

/*!-----PAGINA INDEX----*/
.principal {
  align-items: center;
  flex-direction: column; }
  .principal section {
    display: flex; }
  .principal section {
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-around; }
    .principal section div img {
      width: 250px;
      height: 250px; }
    .principal section div h2 {
      color: #03b2cb; }
    .principal section div p {
      color: aliceblue;
      font-size: 18px;
      padding: 30px;
      text-align: center; }

/*!-----PAGINA GALERIA----*/
.datos {
  padding: 20px; }
  .datos section div p {
    color: aliceblue;
    font-size: 20px;
    text-align: center; }

/*!-----PAGINA PROVINCIAS----*/
.provincias {
  flex-direction: column; }
  .provincias div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px; }
  .provincias section {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 250px;
    gap: 5px;
    padding: 30px; }
    .provincias section div {
      position: relative; }
      .provincias section div img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 2px 2px 43px -3px rgba(10, 238, 250, 0.62);
        -webkit-box-shadow: 2px 2px 43px -3px rgba(10, 238, 250, 0.62);
        -moz-box-shadow: 2px 2px 43px -3px rgba(10, 238, 250, 0.62); }
      .provincias section div p {
        position: absolute;
        bottom: 0;
        color: aliceblue;
        text-align: center; }

/*!-----PAGINA FOTOGRAFOS-LOCUTORES----*/
.fotografos-locutores {
  flex-direction: row;
  padding: 20px;
  text-align: center;
  flex-wrap: wrap; }
  .fotografos-locutores section div {
    margin: 20px; }
    .fotografos-locutores section div img {
      width: 200px;
      height: 200px; }
    .fotografos-locutores section div p {
      color: aliceblue;
      font-size: 16px;
      text-align: center; }
    .fotografos-locutores section div div a {
      text-decoration: none;
      color: black;
      background-color: brown;
      font-size: 18px;
      padding: 8px;
      border-radius: 5px; }

/*!-----PAGINA PATROCINADORES----*/
.patrocinio {
  text-align: center; }
  .patrocinio section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; }
    .patrocinio section div {
      box-shadow: 2px 2px 43px -3px rgba(38, 10, 250, 0.62);
      -webkit-box-shadow: 2px 2px 43px -3px rgba(38, 10, 250, 0.62);
      -moz-box-shadow: 2px 2px 43px -3px rgba(38, 10, 250, 0.62);
      width: 250px;
      height: 300px;
      border: 2px solid aliceblue;
      text-align: center;
      padding: 10px;
      margin: 10px; }
      .patrocinio section div img {
        width: 200px;
        height: 150px; }
      .patrocinio section div a {
        text-decoration: none;
        color: aliceblue;
        background-color: blue;
        padding: 5px;
        border-radius: 10px; }
      .patrocinio section div p {
        color: aliceblue;
        font-size: 14px;
        text-align: center;
        margin: 15px; }

/*!-----PAGINA NOSOTROS----*/
.nosotros section div {
  padding: 20px; }
  .nosotros section div h2 {
    color: #03b2cb;
    font-size: 40px;
    text-align: center; }

.nosotros section p {
  color: aliceblue;
  text-align: center;
  font-size: 20px; }

.nosotros section div {
  text-align: center; }
  .nosotros section div img {
    width: 80%; }

/*!-----PAGINA CONTACTO----*/
.contacto {
  display: flex;
  flex-wrap: wrap; }
  .contacto .formulario div {
    color: aliceblue;
    margin: 20px; }
    .contacto .formulario div div p {
      margin: 0%; }
  .contacto .mapa div iframe {
    width: 100%;
    margin: 25px; }
  .contacto .img-contacto div img {
    width: 80%;
    margin: 25px; }

/*!-----PAGINA EVENTOS----*/
.eventos {
  text-align: center; }
  .eventos section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; }
    .eventos section div {
      box-shadow: 2px 2px 43px -3px rgba(10, 238, 250, 0.62);
      -webkit-box-shadow: 2px 2px 43px -3px rgba(10, 238, 250, 0.62);
      -moz-box-shadow: 2px 2px 43px -3px rgba(10, 238, 250, 0.62);
      width: 250px;
      height: 250px;
      border: 2px solid aliceblue;
      text-align: center;
      padding: 10px;
      margin: 10px; }
      .eventos section div img {
        width: 200px;
        height: 150px; }
      .eventos section div a {
        text-decoration: none;
        color: aliceblue;
        background-color: blue;
        padding: 5px;
        border-radius: 10px; }
      .eventos section div p {
        color: aliceblue;
        font-size: 14px;
        text-align: center;
        margin: 15px; }

footer {
  background-color: #1e1c1c;
  display: flex;
  justify-content: space-between; }
  footer div {
    margin: 10px; }
    footer div h1 {
      color: #03b2cb;
      font-size: 20px;
      text-align: center;
      margin: 5px; }

@media screen and (max-width: 900px) {
  /*!-----CUERPO BODY----*/
  .grid-contenedor {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header"
"main"
"footer"; }
  main {
    min-height: auto; } }

@media screen and (max-width: 900px) {
  /*!-----PAGINA INDEX----*/
  .info {
    align-items: center;
    text-align: center;
    flex-direction: column; } }

@media screen and (max-width: 900px) {
  /*!-----PAGINA GALERIA----*/
  .datos {
    align-items: center;
    text-align: center;
    flex-direction: column; } }

@media screen and (max-width: 900px) {
  /*!-----PAGINA PROVINCIAS----*/
  .provincias {
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 200px; }
  .grid-items {
    grid-row: span 1;
    grid-column: span 1; } }

@media screen and (max-width: 520px) {
  /*!-----PAGINA FOOTER-----*/
  footer {
    display: flex;
    justify-content: space-between; }
  div h1 a img {
    width: 10px;
    height: 10px; } }
