
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Bebas Neue', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/*!-----CUERPO BODY----*/
.grid-contenedor {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
    min-height: auto;
        }
    
header {
    background-color: rgb(76, 99, 154);
    grid-area: header;
    }
    
main {
    background-color: rgb(0, 0, 0);
    grid-area: main;
    }
    
footer {
    background-color: rgb(30, 28, 28); 
    grid-area: footer;
    }


/*!-----NAVEGADOR----*/
    .grid-contenedor a { 
        color: $color-principal;
        font-size: 20px;
        // margin: 5px;
    }
    header img { 
        width: 80px;
        height: 80px;
        // margin: 0px 0px 0px 40px;
    }


/*!-----CARRUSEL PRINCIPAL----*/
    .carousel-inner { 
        padding: 20px;
        }


/*!-----CARRUSEL PROVINCIAS----*/
.img-1 {
    grid-row: span 2;
}

.img-2 {
    grid-column: span 2;
}

.img-3 {
    grid-column: span 2;
}


/*!-----ANIMACION----*/
.animated-image {
    transition: transform 0.5s;
}
.animated-image:hover {
    transform: scale(1.1);
}



