
/*!-----PAGINA INDEX-----*/
.principal {
    align-items: center;
    flex-direction: column;
    section {
        display: flex;
    }
    section {
        text-align: center;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        div {
            img {
                width: 250px;
                height: 250px;
            }
            h2 {
                color: $color-principal;
                // font-style: italic;
                // font-family: Georgia, 'Times New Roman', Times, serif;
                // margin: 10px 0px -12px 0px;
            }
            p {
                color: $color-secundario;
                font-size: 18px;
                // font-style: normal;
                // font-family: Arial, Helvetica, sans-serif;
                padding: 30px;
                text-align: center;
            }
        }
    }
}



/*!-----PAGINA GALERIA----*/
.datos {
    padding: 20px;
    @extend %flex-center;
    section {
        div {
            p {
                color: $color-secundario;
                font-size: 20px;
                // font-style: italic;
                // font-family: Georgia, 'Times New Roman', Times, serif;
                text-align: center;
            }
        }
    }
}



/*!-----PAGINA PROVINCIAS----*/
.provincias {
    flex-direction: column;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }
    section {
        width: auto;
        height: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 250px;
        gap: 5px;
        padding: 30px;
        div {
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                box-shadow: 2px 2px 43px -3px rgba(10, 238, 250, 0.62);
                -webkit-box-shadow: 2px 2px 43px -3px rgba(10, 238, 250, 0.62);
                -moz-box-shadow: 2px 2px 43px -3px rgba(10, 238, 250, 0.62);
            }
            p {
                position: absolute;
                bottom: 0;
                color: $color-secundario;
                text-align: center;
            }
        }
    }
}



/*!-----PAGINA FOTOGRAFOS-LOCUTORES----*/
.fotografos-locutores {
    @extend %flex-center;
    flex-direction: row;
    padding: 20px;
    text-align: center;
    flex-wrap: wrap;
        section {
            
            div {
                margin:20px;
                img {
                    width: 200px;
                    height: 200px;
                }
                p {
                    color: $color-secundario;
                    font-size: 16px;
                    // font-style: normal;
                    // font-family: Arial, Helvetica, sans-serif;
                    text-align: center;
                }
                div {
                    a {
                        // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        text-decoration: none;
                        color: $color-terciario;
                        background-color: brown;
                        font-size: 18px;
                        padding: 8px;
                        border-radius: 5px;
                    }
                }
            }
        }
    
}



/*!-----PAGINA PATROCINADORES----*/
.patrocinio {
    text-align: center;
    section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    div {
        box-shadow: 2px 2px 43px -3px rgba(38, 10, 250, 0.62);
        -webkit-box-shadow: 2px 2px 43px -3px rgba(38, 10, 250, 0.62);
        -moz-box-shadow: 2px 2px 43px -3px rgba(38, 10, 250, 0.62);
        width: 250px;
        height: 300px;
        border: 2px solid $color-secundario;
        text-align: center;
        padding: 10px;
        margin: 10px;
        img {
            width: 200px;
            height: 150px;
        }
        a {
            text-decoration: none;
            color: $color-secundario;
            background-color: blue;
            padding: 5px;
            border-radius: 10px;
        }
        p {
            color: $color-secundario;
            font-size: 14px;
            // font-style: italic;
            // font-family: Georgia, 'Times New Roman', Times, serif;
            text-align: center;
            margin: 15px;
        }
    }
    }
}



/*!-----PAGINA NOSOTROS----*/
.nosotros {
    
    section {
        div {
            padding: 20px;
            h2 {
                color: $color-principal;
                font-size: 40px;
                text-align: center;
            }
        }
        p {
            color: $color-secundario;
            text-align: center;
            font-size: 20px;
        }
    }
    section {
        div {
            text-align: center;
            img {
                width: 80%;
            }
        }
    }
}



/*!-----PAGINA CONTACTO----*/
.contacto {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-evenly;
    .formulario {
        // width: 90%;
        div {
            // width: 90%;
            color: $color-secundario;
            margin: 20px;
            div {
                p {
                    margin: 0%;
                }
            }
        }
    }
    .mapa {
        div {
            iframe {
                width: 100%;
                margin: 25px;
            }
        } 
    }
    .img-contacto {
        div {
            img {

                width: 80%;
                margin: 25px;
            }
        }
        
    }
}


/*!-----PAGINA EVENTOS----*/
.eventos {
    text-align: center;
    section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    div {
        box-shadow: 2px 2px 43px -3px rgba(10, 238, 250, 0.62);
        -webkit-box-shadow: 2px 2px 43px -3px rgba(10, 238, 250, 0.62);
        -moz-box-shadow: 2px 2px 43px -3px rgba(10, 238, 250, 0.62);
        width: 250px;
        height: 250px;
        border: 2px solid $color-secundario;
        text-align: center;
        padding: 10px;
        margin: 10px;
        img {
            width: 200px;
            height: 150px;
        }
        a {
            text-decoration: none;
            color: $color-secundario;
            background-color: blue;
            padding: 5px;
            border-radius: 10px;
        }
        p {
            color: $color-secundario;
            font-size: 14px;
            // font-style: italic;
            // font-family: Georgia, 'Times New Roman', Times, serif;
            text-align: center;
            margin: 15px;
        }
    }
    }
}